@keyframes slideInAndMove {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(4%);
    }
    100% {
        transform: translateX(-4%);
    }
}

.moving-card {
    animation: slideInAndMove 12s ease-in-out infinite alternate;
}
